/* ФАЙЛ ГЛАВНОЙ СТРАНИЦЫ */


/* СТИЛИ ХЕДЕРА */
header {
    height: 97px;
    background-color: #2d3136;
}

header .main {
    display: grid;
    align-items: center;
    height: 100%;
}

/* СТИЛИ СЕКЦИИ С ФОРМОЙ */
.form-section {
    padding-top: 55px;
    height: auto;
    background: #2d3136;
}

.icon-block {
    height: 186px;
    display: grid;
    justify-content: center;
    margin-bottom: 20px;
}

.form-block {
    height: auto;
}

.form-items {
    width: 100%;
    height: auto;
}

.form-items .row {
    height: 100%;
}

.form-items .col:first-child .form-group {
    height: 118px;
    margin-bottom: 54px;
}

.form-items label {
    font-size: 18px;
    color: #d7d7d7;
    display: block;
    margin-bottom: 13px;
}

.form-items input {
    height: 70px;
    width: 100%;
    background-color: #2e3237;
    border: 1px solid #4c4f53;
    border-radius: 8px;
    padding: 21px;
    color: #d7d7d7;
    font-size: 16px;
}

.form-items label span {
    color: #be393b !important;
}

.form-items .comment-textarea {
    width: 100%;
    background-color: #2e3237;
    border: 1px solid #4c4f53;
    border-radius: 8px;
    height: 100%;
    padding: 21px;
    color: #d7d7d7;
    font-size: 16px;
    resize: none;
}

.form-button {
    height: 120px;
}

.form-button button {
    height: 60px;
    width: 152px;
    background-color: #be393b;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 20px;
    font-family: 'RobotoBold';
    float: right;
}


/* СТИЛИ СЕКЦИИ С КОММЕНТАРИЯМИ */
.comments-section {
    height: auto;
    background-color: #f6f6f7;
    padding-bottom: 4vw;
}

.comments-section-header {
    height: 206px;
    display: grid;
    align-items: center;
}

.comments-section-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4vw;
}

.comments-section-header h2 {
    color: #4b596c;
    font-size: 37px;
    text-align: center;
}

.comment {
    height: 360px;
    max-width: 19.6vw;
    background-color: #e9eef3;
    margin: 0 auto;
}

.comment.my {
    background-color: #deebde;
}

.comment-header {
    height: 56px;
    background-color: #4b596c;
    display: grid;
    justify-content: center;
}

.comment.my .comment-header {
    background-color: #58ad52;
}

.comment-header p {
    font-size: 26px;
    margin: 0 auto;
    color: #fff;
    display: grid;
    padding: 5px;
}

.comment-body {
    padding: 3vw;
    display: grid;
    justify-content: center;
}

.comment-body p {
    color: #6d737b;
    font-size: 22px;
    margin: 0 auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
    width: 15vw;
}

.comment-body .email {
    margin-bottom: 34px;
}

.comment.my .email {
    color: #58ad52;
}


/* ФУТЕР САЙТА */
footer {
    height: 97px;
    background-color: #2d3136;
}

footer .main {
    display: grid;
    align-items: center;
    height: 100%;
    grid-template-columns: 1fr 1fr;
}

footer .contacts {
    width: 100%;
    display: grid;
    grid-template-columns: 5fr 1fr 1fr;
    height: 33px;
}

footer .icon img {
    height: 30px;
    width: 30px;
}